.HomeButton {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    max-width: 50rem;
    margin: auto;
    margin-top: 5rem;
    button {
        width: 15rem;
        height: 4rem;
        padding: 1rem auto;
        font-size: 1.5rem;
        border: none;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        img {
            width: 40%;
        }
        &:hover {
            box-shadow: 0.5rem 0.5rem rgba(93, 73, 73, 0.049);
        }
    }
}
